!!! 5
%html
  %head
    %title
      Herro
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'content-language', 'content' => 'en'}
    %link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => 'css/default.css' }
  %body
    %h1
      Hello world.
    %img{ :src => 'img/work_hard_be_nice.jpg' }
    %p.js-test{ :style => 'display:none;' }
      JS works.
    
    %script{ :src => '//code.jquery.com/jquery-1.10.2.min.js'}
    %script{ :src => 'js/default.js' }