!!! 5
%html
  %head
    %title
      Herro
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'content-language', 'content' => 'en'}
    %link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' }
  %body
    %h1
      Hello world.